**/.vs/*
**/bin/*
**/obj/*

# Secrets - use appsettings.template.json as reference
**/appsettings.json
!**/appsettings.template.json

# Code Coverage
coverage/*
!coverage/report/
coverage/report/*
!coverage/report/Summary.txt
!coverage/report/ClassCoverage_*.txt
**/TestResults/
*.cobertura.xml
*.coverage
*.coveragexml
